<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
  <%- include('../common/header') %>
    <style>
      .chat-divider {
        text-align: center;
        margin-top: 40px;
        color: black;
        font-weight: 400;
      }

      .btn {
        padding: 9px 14px !important;
      }

      .chat-capsule {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 120px;
        display: inline-block;
        font-family: Arial, sans-serif;
        font-style: Montserrat, Helvetica, Arial, serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        color: rgb(110, 107, 123);
      }

      .chatDiv {
        height: 45vh;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
</head>

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static  "
  data-open="click" data-menu="vertical-menu-modern" data-col="content-left-sidebar">

  <!-- BEGIN: Header-->
  <%- include('../common/navbar') %>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <%- include('../common/sidebar') %>
      <!-- END: Main Menu-->

      <!-- BEGIN: Content-->
      <div class="app-content content chat-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-area-wrapper container-xxl p-0">
          <div class="sidebar-left">
            <div class="sidebar">
              <!-- Chat Sidebar area -->
              <div class="sidebar-content">
                <span class="sidebar-close-icon">
                  <i data-feather="x"></i>
                </span>
                <!-- Sidebar header start -->
                <div class="chat-fixed-search">
                  <div class="d-flex align-items-center w-100">
                    <div class="sidebar-profile-toggle">
                      <div class="avatar avatar-border">
                        <img src="/uploads/<%= adminImg %>" alt="user_avatar" height="42" width="42" />
                        <span class="avatar-status-online"></span>
                      </div>
                    </div>
                    <div class="input-group input-group-merge ms-1 w-100">
                      <span class="input-group-text round"><i data-feather="search" class="text-muted"></i></span>
                      <input type="text" class="form-control round" id="chat-search"
                        placeholder="Search or start a new chat" aria-label="Search..."
                        aria-describedby="chat-search" />
                    </div>
                  </div>
                </div>
                <!-- Sidebar header end -->

                <!-- Sidebar Users start -->
                <div id="users-list" class="chat-user-list-wrapper list-group">
                  <input type="hidden" name="adminId" id="adminId" value="<%= adminId %>">
                  <h4 class="chat-list-title">Chats</h4>
                  <ul class="chat-users-list chat-list media-list" id="userChatList">

                  </ul>
                </div>
                <!-- Sidebar Users end -->
              </div>
              <!--/ Chat Sidebar area -->

            </div>
          </div>
          <div class="content-right">
            <div class="content-wrapper container-xxl p-0">
              <div class="content-header row">
              </div>
              <div class="content-body">
                <div class="body-content-overlay"></div>
                <!-- Main chat area -->
                <section class="chat-app-window">
                  <!-- To load Conversation -->
                  <div class="start-chat-area" id="startChatArea">
                    <div class="mb-1 start-chat-icon">
                      <i data-feather="message-square"></i>
                    </div>
                    <h4 class="sidebar-toggle start-chat-text">Start Conversation</h4>
                  </div>
                  <!--/ To load Conversation -->

                  <!-- Active Chat -->
                  <div class="active-chat d-none" id="activeChat">
                    <!-- Chat Header -->
                    <div class="chat-navbar">
                      <header class="chat-header">
                        <div class="d-flex align-items-center">
                          <div class="sidebar-toggle d-block d-lg-none me-1">
                            <i data-feather="menu" class="font-medium-5"></i>
                          </div>
                          <div class="avatar avatar-border user-profile-toggle m-0 me-1">
                            <img id="userImageHeader" src="../../../app-assets/images/portrait/small/avatar-s-7.jpg"
                              alt="avatar" height="36" width="36" />
                          </div>
                          <h6 class="mb-0" id="userNameHeader"> </h6>
                        </div>
                      </header>
                    </div>
                    <!--/ Chat Header -->

                    <!-- User Chat messages -->
                    <div class="user-chats">
                      <input type="hidden" id="receiverId" name="receiverId" value="">
                      <div class="chats" id="chats">

                      </div>
                    </div>
                    <!-- User Chat messages -->

                    <!-- Submit Chat form -->
                    <form class="chat-app-form" action="javascript:void(0);">
                      <div class="input-group input-group-merge me-1 form-send-message">
                        <input type="text" id="txtMsg" class="form-control message"
                          placeholder="Type your message here" />
                      </div>
                      <button type="button" class="btn btn-primary send" onclick="enterChats();">
                        <i data-feather="send" class="d-lg-none"></i>
                        <span class="d-none d-lg-block">Send</span>
                      </button>
                    </form>
                    <!--/ Submit Chat form -->
                  </div>
                  <!--/ Active Chat -->
                </section>
                <!--/ Main chat area -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Content-->

      <div class="sidenav-overlay"></div>
      <div class="drag-target"></div>

      <!-- BEGIN: Footer-->
      <%- include('../common/footer') %>

        <script src="../../../app-assets/js/core/app-menu.js"></script>
        <script src="../../../app-assets/js/scripts/pages/app-chat.js"></script>

        <script>
          $(window).on('load', function () {
            if (feather) {
              feather.replace({
                width: 14,
                height: 14
              });
            }
          })
        </script>

        <script src="../../../js/socketChat.js"></script>

        <script>
          // socket = io();


        </script>
</body>
<!-- END: Body-->

</html>